In [1]:
import pandas as pd

In [3]:
# 같은 폴더 내에 위치
filename = 'data_nxny.xlsx'

In [4]:
df = pd.read_excel(filename, engine='openpyxl')

### 변수 설명
* 시 : region1
* 구 : region2
* 동 : region3

In [11]:
region1 = '서울특별시'
region2 = '종로구'
region3 = '사직동'

In [20]:
data = df[(df['1단계']==region1) & (df['2단계']==region2) & (df['3단계']==region3)]

In [21]:
data

,구분,행정구역코드,1단계,2단계,3단계,격자 X,격자 Y,경도(시),경도(분),경도(초),위도(시),위도(분),위도(초),경도(초/100),위도(초/100),위치업데이트,Unnamed: 16
3,kor,1111053000,서울특별시,종로구,사직동,60,127,126,58,15.44,37,34,23.77,126.970956,37.573269,NaN,NaN

In [41]:
nx = (data['격자 X'].values)[0]
ny = (data['격자 Y'].values)[0]

In [43]:
print( nx, ny )

60 127

## DB에서 정보 가져와서 nx,ny 리턴

In [50]:
import pymysql

In [53]:
conn = pymysql.connect("--DB정보--")
cursor = conn.cursor()

In [57]:
sql = 'SELECT * FROM address limit 1'
cursor.execute(sql)
address = cursor.fetchall()

In [58]:
address

(('서울특별시', '종로구', '사직동'),)

In [56]:
region1 = data[0][0]
region2 = data[0][1]
region3 = data[0][2]

In [59]:
data = df[(df['1단계']==region1) & (df['2단계']==region2) & (df['3단계']==region3)]

In [60]:
nx = (data['격자 X'].values)[0]
ny = (data['격자 Y'].values)[0]

In [61]:
sql = '''INSERT INTO nxny VALUES(%s,%s)'''
cursor.execute(sql, (nx,ny))

1

In [62]:
conn.commit()
conn.close()